.padding-right-70 {
    padding-right: 70px;
}

.collapsible {
    box-shadow: none;
    border-left: none;
    border-right: none;
}

.collapsible-header {
    padding-left: 0;
    padding-right: 0;
}

.logo-first {
    color: #D99594;

}

.logo-sec {
    color: #365F91;
}

.logo-last {
    color: #C2D69B;
}

.ani {
    animation-duration: 400ms !important;
}

.breakdown-row {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 0;
    /*border-bottom: 1px solid #ddd;*/
}