.padding-right-70 {
    padding-right: 70px;
}

.collapsible {
    box-shadow: none;
    border-left: none;
    border-right: none;
}

.collapsible-header {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.2em;
}

.logo-first {
    color: #D99594;

}

.logo-sec {
    color: #365F91;
}

.logo-last {
    color: #C2D69B;
}

.breakdown-row {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 0;
    /*border-bottom: 1px solid #ddd;*/
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.bold {
    font-weight: bold;
}

.result-title {
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px*/

}

.icon {
    text-indent: 75px;
    height: 47px;
    width: 24% !important;
    margin-left: 1% !important;
}

@media only screen and (max-width: 600px) {
    .icon {
        -webkit-background-size: 60px !important;
        background-size: 60px !important;
        font-size: 0 !important;
    }
}

.UK {
    background: url(../icons/United-Kingdom.png) no-repeat;
}

.NL {
    background: url(../icons/Netherlands.png) no-repeat;
}

.no-margin {
    margin-bottom: 0
}

.collapsible-header.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.collapsible-header.row:hover {
    background-color: #fcfcfc;
}

.larger label, input {
    font-size: 1.4em !important;
}

.larger label.active {
    font-size: 1.1em !important;
}

#currency-button {
    color: #9e9e9e;
}

@media only screen and (max-width: 600px) {
    #currency-button {
        padding: 0;
    }

    #currency-button i {
        margin: 0;
    }

}

.result-titles {
    margin: 0 30px 0 30px;
}

.result-titles div {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .popout li {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .result-titles {
        margin: 0 !important;
    }

    .result-titles .col .s3 {
        padding: 0 2px 0 2px;;
    }
}

.collapsible-body {
    background-color: white;
}

input.select-dropdown {
    color: #9e9e9e;
}

/* label focus color */
.input-field input[type=number]:focus + label {
    color: #7cb342 !important;
}

/* label underline focus color */
.input-field input[type=number]:focus {
    border-bottom: 1px solid #689f38;
    box-shadow: 0 1px 0 0 #689f38;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: rgba(0, 0, 0, 0.71);
}

html {
    color: rgba(0, 0, 0, 0.71);
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #689f38;
    border-bottom: 2px solid #689f38;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #689f38;
    background-color: #689f38;
}

#calculate-button {
    padding-left: 50px;
    padding-right: 50px;
}

